@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-size: 18px;
}

@media (max-width: 980px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 14px;
  }
}

body {
  background: #121212;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
