@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background: #121212;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
